<form name="myform" ng-submit="create()">
    <label>Enter any 7 or 10 digit number.</label>
    <input type="text"
           myNumberOnly
           name="phone_number"
           require
           [(ngModel)]="seachTextbox"
           maxlength="10"/>
    <button type="button" (click)="searchClickHandler()">Submit </button>
 </form>
<div *ngIf="!isTableVisible">Not a valid Number. Please enter any valid 7 or 10 digit number.</div>
 <lib-ngx-sample-table *ngIf="tableDataSource.length > 0" #dataTable></lib-ngx-sample-table>
 